<!DOCTYPE html>
<html lang="jp">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <style type="text/css">
      <!--
          body {
            margin: 0;
            padding: 0;
            font-family: "Hiragino Kaku Gothic ProN","Hiragino Kaku Gothic Pro","メイリオ","Meiryo","Helvetica Neue",Helvetica,Arial,sans-serif;
            -webkit-font-smoothing: antialiased;
            word-break: break-all;
          }
          img { border: 0; line-height: 0; }
          a { text-decoration: none; }
          -->
    </style>
    <link rel="stylesheet" href="./css/style.css" />
    <title>Title</title>
  </head>
  <body
    leftmargin="0"
    topmargin="0"
    marginwidth="0"
    marginheight="0"
    bgcolor="#fff"
    style="
      background: #fff;
      font-family: 'Hiragino Kaku Gothic ProN', 'Hiragino Kaku Gothic Pro', 'メイリオ', 'Meiryo', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    "
  >
    <div class="d-wrapper">
      <table class="d-container">
        <tr>
          <td>メールのコンテンツ</td>
        </tr>
        <tr>
          <td>
            <img src="/template/images/mail_man.png" alt="" />
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>
